


<div class="full_width_wrapper back_color_f1f1f1 full_padd_30">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="add_pro_holder">
                        
                    <h3  class="mar_0 padd_bott_15">Sign Up</h3>
                    <form (ngSubmit)="signup(f)" #f="ngForm">

                      <div class="input_box padd_bott_15">
                          <label>Enter your name</label>
                          <input type="text" name="userName" [(ngModel)]="userName" value="" class="input_box_style  form-control">
                      </div>

                      <div class="input_box padd_bott_15">
                          <label>Enter your Email id</label>
                          <input type="text" name="userEmail" [(ngModel)]="userEmail" value="" class="input_box_style  form-control">
                      </div>

                      <div class="input_box padd_bott_15">
                          <label>Create password</label>
                          <input type="password" name="userPassword" [(ngModel)]="userPassword" value="" class="input_box_style  form-control">
                      </div>
                      
                      <div class="button_box">
                          <input type="submit" value="Sign Up" class="btn back_color_e83d3c color_fff">
                      </div>
                  </form>
                   <br><br> 

                </div>
            </div>
            
        </div>
    </div>
</div>
