

<div class="full_width_wrapper back_color_f1f1f1 full_padd_30">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="back_white_holder mar_bott_30">
            <h2 class="mar_0 padd_bott_10">{{singlebloghead}}</h2>
            <p class="mar_0">{{singleblogcontent}}</p>
          </div>
          <div class="back_white_holder">
                
          </div>
        </div>

        <div class="col-md-6">
            <div class="back_white_holder blog_img_holder">
                <img src="{{singleblogImgPath}}">
            </div>
        </div>

    </div>
  </div>
</div>
  
